body{
    margin-top: 90px;
}

form{
    text-align: center;
}

#errMsg{
    color: white;
}

#backbtn{
    display: flex;
    justify-content: center;
}

input{
    margin-top: 3vh;
    height: 3vh;
}

select{
    margin-top: 3vh;
    height: 3vh;
}

#content{
    margin-top: 20px;
    line-height: 1.5;
    height: 11.5em;
    width: 70%;
}