*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1331;
    margin-top: 100px;
    }

header {
    display: flex;
    width: 100%;
    height: 90px;
    
    background-color: #0E397B;
    align-items:center;
    top: 0;
    left: 0;
    
    }

.moji {
    color: #d7bc61;
}
.footer {
    /*display: flex;*/
    display: grid;
    width: 100%;
    height: 90px;
    background-color: #0E397B;
    align-items:center;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

img {
width: 50px;
margin: 5px;
}

.img2{
    display: flex;
    justify-content:space-around;
}
.text{
    /* text-align     : center;               文字位置は中央     */
     font-size      : 14px; 
     color: black;
 }
 .menu_box{
    position:fixed;
    text-align: right; /*右に寄せる*/
    width:100%;
    /* height:90px;*/
    top:15px;
    
}
#toggle{
    display: none; /*非表示にする*/
}

.dropdown_menu{
    display: none;  /*非表示にする*/
    position: relative;
    
}
#toggle:checked+.dropdown_menu{
    display: block; /*リストを表示する*/
}
.dropdown_menu li{
    display: block; /*要素をインライン表示にする*/
    width: 120px; /*幅*/
    text-align: center; /*中央に表示する*/ 
    background-color: white; /*背景色*/
    border: outset 2px; /*外枠を作る（スタイル、太さ）*/
    cursor: pointer; /*カーソル（指のかたち）*/
    
}
.box {
    position: absolute;
    right: 0px;
}


/* === ボタンを表示するエリア ============================== */
.switchArea {

    letter-spacing : 0;                   /* 文字間             */
    text-align     : center;              /* 文字位置は中央     */
    font-size      : 12px;                /* 文字サイズ         */
  
    position       : relative;            /* 親要素が基点       */
    height: 20px;
    width          : 10px;                /* ボタンの横幅       */
    /* background     : #fff;                 デフォルト背景色   */
    height: 25px;
  }

  .switchArea > a {
    position: absolute;
    left: 0;
  }
  
   /* === チェックボックス ==================================== */
  .switchArea input[type="checkbox"] {
    display        : none;            /* チェックボックス非表示 */
  }
  
   /* === チェックボックスのラベル（標準） ==================== */
  .switchArea label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    height         : 20px;                /* ボタンの高さ       */
    border         : 2px solid #999999;   /* 未選択タブのの枠線 */
    border-radius  : 30px;                /* 角丸               */
  }
  
   /* === チェックボックスのラベル（ONのとき） ================ */
  .switchArea input[type="checkbox"]:checked +label {
    border-color   : #78bd78;             /* 選択タブの枠線     */
  }
  
   /* === 表示する文字（標準） ================================ */
  .switchArea label span:after{
    content        : "OFF";               /* 表示する文字       */
    padding        : 0 0 0 10px;          /* 表示する位置       */
    color          : #999999;              /* 文字色             */
  }
  
   /* === 表示する文字（ONのとき） ============================ */
  .switchArea  input[type="checkbox"]:checked + label span:after{
    content        : "ON";                /* 表示する文字       */
    padding        : 0 20px 0 0 ;          /* 表示する位置       */
    color          : #78bd78;            /* 文字色             */
  }
  
   /* === 丸部分のSTYLE（標準） =============================== */
  .switchArea #swImg {
    position       : absolute;            /* 親要素からの相対位置*/
    width          : 12px;                /* 丸の横幅           */
    height         : 12px;                /* 丸の高さ           */
    background     : #999999;             /* カーソルタブの背景 */
    top            : 4px;                 /* 親要素からの位置   */
    right          : 30px;                 /* 親要素からの位置   */
    border-radius  : 26px;                /* 角丸               */
    transition     : .2s;                 /* 滑らか変化         */
  }
  
   /* === 丸部分のSTYLE（ONのとき） =========================== */
  .switchArea input[type="checkbox"]:checked ~ #swImg {
    transform      : translateX(25px);    /* 丸も右へ移動       */
    background     : #78bd78;             /* カーソルタブの背景 */
  }

  .switchArea > label {
    position: absolute;
    right: 0;
    width: 38%;
  }

  


  .forumbox{
    margin: 10px auto;
    width: 95%;
    height: 100px;
    background-color:white;
    position: relative;
}

.logout{
    color: black;
}

.link{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%; 
}

#forum_date{
    left:50%;
    top:5%;
    position:absolute;
  }

  #event_other {
    position: fixed;
    bottom: calc(90px + 1%);
    right: 2.5%;
    height: 8%;
    width: 50%;
    /* background-color: #d0ffde; */
}

#event_other > div{
    position: relative;
    height: 100%;
    width: 100%;
}

#event_category {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 65%;
    border-radius: 15px;
    background-color: #0E397B;
}

#event_category > div {
    /* font-size: 22px; */
    font-size: 120%;
color: #D7BC61;
}

#event_post {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #0E397B;
}

#event_post > div {
    /* font-size: 18px; */
    font-size: 110%;
color: #D7BC61;
}

#user_icon{
    width: 5vh;
    margin: unset;
}