html{
    height:100%;
}

body{
    height: 100%;
    margin: 0;
    color: #D7BC61;
}

main{
    height: 100%;
    width: 100%;
    background-color: #0E1331;
}

input {
    margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

#event_detail_main {
    position: fixed;
    height: 100vh;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    z-index: 0;
}

#event_detail_area {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 95%;
    width: 87%;
    /* background-color: aliceblue; */
}

#event_user {
    height: 4vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}

#user_icon {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color:brown;
}

#user_icon_image {
    margin: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#user_name {
    margin-left: 2%;
    font-size: 120%;
}

#event_detail_card_wrapper {
    margin-top: 1%;
    /* padding: 0.5% 3%; */
    height: 80%;
    width: 100%;
}

#event_detail_card {
    padding: 0.5% 3%;
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-radius: 20px 20px 0 0;
    background-color: white;
    color: black;
    box-shadow: 0 4px 15px rgba(213, 240, 255, 0.418);
}

#event_detail_card > div:first-child{
    /* position: relative; */
    height: 100%;
    width: 100%;
    /* padding-bottom: 10%; */
}

#event_title {
    font-family: "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro", sans-serif;
    font-size: 130%;
}

#bookmark {
    position: absolute;
    top: 7%;
    right: 10px;
} 

#event_date {
    margin-top: 2vh;
}

#event_content {
    margin-bottom: 2vh;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}

#image_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    /* height: 45%; */
    aspect-ratio: 3 / 2;
    width: 95%;
    border-radius: 10px;
    background-color: #0E397B;
}

#hensin { 
    width: 50%;
    margin-top: 5%;
    margin-bottom: 2%;
    border-bottom: 1px solid black;
}

.event_reply_show_area {
    width: 100%;
    display: flex;
}

.event_reply_left {
    width: 10%;
}

.event_reply_icon {
    width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: aqua;
}

.event_reply_right {
    width: 80%;
}

.event_reply_user_name {
    color: #D7BC61;
}

.event_more_reply {
    text-align: right;
}

.show_event_more_reply {
    margin-right: 10%;
    color: blue;
}

.event_more_reply_button {
    /* width: 20%; */
    display: inline-block;
    font-size: 70%;
}

.event_more_reply_main {
    margin-bottom: 1%;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.event_more_reply_area {
    width: 100%;
    display: flex;
}

.event_more_reply_input_area {
    height: 4vh;
    width: 100%;
    margin-bottom: 2%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 0 0 20px 20px;
    background-color: white;
}

.event_more_reply_input_area > form {
    display: flex;
    height: 70%;
}

.event_more_reply_input_text {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgb(219, 219, 219);
    /* border: 1px solid #8d8d8d; */
    border-radius: 5px;
}


#event_reply_input_area {
    /* position: sticky; */
    height: 9%;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    /* margin-top: 9%; */
    /* top: 100%; */
    /* bottom: 10%; */
    /* background-color: #D7BC61; */
    border-radius: 0 0 20px 20px;
    background-color: white;
}

#event_reply_input_area > form {
    display: flex;
    height: 70%;
}

#event_reply_input_text {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgb(219, 219, 219);
    /* border: 1px solid #8d8d8d; */
    border-radius: 5px;
}

a {
    text-decoration: none;    
}

a:link {
    color: initial;
}

a:visited {
    color: initial;
}

a:hover {
    color: initial;
}

#e_back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    height: 6%;
    width: 35%;
    background-color: #0E397B;
    color: #D7BC61;
}